In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, datasets, linear_model, model_selection
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error, mean_absolute_error
from cmath import sqrt

In [2]:
dataframe=pd.read_csv('../Dataset.csv')
dataframe

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_135,0.000000,0.000000,0.000000,ios,0.000000,0.000000,0.000000,0.000000
1,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android,0.000000,0.000000,0.000000,0.000000
2,1.0,2.0,2.0,2.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android,0.000000,0.000000,0.000000,0.000000
3,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,ios,0.000000,0.000000,0.000000,0.000000
4,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_203,0.000000,0.000000,0.000000,android,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467827,11.0,11.0,11.0,11.0,9,9,9,9,10,10,...,2021-12-30,COUNTRY_141,0.037158,0.037158,0.037158,ios,0.000000,4.174198,0.037158,4.211356
1467828,2.0,3.0,6.0,7.0,5,9,11,13,6,10,...,2021-12-30,COUNTRY_141,0.039256,0.039256,0.091267,ios,4.705161,10.967580,0.091267,15.764008
1467829,3.0,5.0,11.0,13.0,5,9,15,18,5,10,...,2021-12-30,COUNTRY_141,0.000000,0.000000,0.000000,ios,0.000000,14.938221,0.000000,14.938221
1467830,5.0,5.0,5.0,5.0,24,24,24,24,24,24,...,2021-12-30,COUNTRY_141,0.177550,0.177550,0.177550,ios,0.000000,7.402224,0.177550,7.579774
1467831,6.0,7.0,7.0,7.0,15,15,15,15,15,16,...,2021-12-30,COUNTRY_141,0.114909,0.114909,0.114909,android,0.000000,3.949385,0.114909,4.064295

Перевіримо чи є пропущені дані

In [3]:
dataframe.isna().any(axis=1).sum()

1374

Бачимо, що користувачів з пропущеними даними всього 1374. Це неймовірно мало порівняно з загальною кількістю користувачів 1467832. Тому ми викинемо ці рядки. Також викинемо останні чотири стовпчики з доходами з користувача і створимо з них ще один датафрейм.

In [4]:
dataframe.drop(dataframe.index[dataframe.isna().any(axis=1)].tolist(),axis=0,inplace=True)
income_dataframe=dataframe.filter(['target_sub_ltv_day30','target_iap_ltv_day30','target_ad_ltv_day30','target_full_ltv_day30'],axis=1)
dataframe.drop(columns=['target_sub_ltv_day30','target_iap_ltv_day30','target_ad_ltv_day30','target_full_ltv_day30'],axis=1,inplace=True)
dataframe

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,app_iap_ltv_day0,app_iap_ltv_day1,app_iap_ltv_day3,media_source,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform
0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_23,2021-12-03,COUNTRY_135,0.000000,0.000000,0.000000,ios
1,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_2,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android
2,1.0,2.0,2.0,2.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_17,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android
3,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_23,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,ios
4,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_1,2021-12-03,COUNTRY_203,0.000000,0.000000,0.000000,android
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467827,11.0,11.0,11.0,11.0,9,9,9,9,10,10,...,4.174198,4.174198,4.174198,SOURCE_17,2021-12-30,COUNTRY_141,0.037158,0.037158,0.037158,ios
1467828,2.0,3.0,6.0,7.0,5,9,11,13,6,10,...,4.899572,7.841280,9.404430,SOURCE_23,2021-12-30,COUNTRY_141,0.039256,0.039256,0.091267,ios
1467829,3.0,5.0,11.0,13.0,5,9,15,18,5,10,...,4.036153,8.875894,13.928170,SOURCE_23,2021-12-30,COUNTRY_141,0.000000,0.000000,0.000000,ios
1467830,5.0,5.0,5.0,5.0,24,24,24,24,24,24,...,7.402224,7.402224,7.402224,SOURCE_4,2021-12-30,COUNTRY_141,0.177550,0.177550,0.177550,ios
1467831,6.0,7.0,7.0,7.0,15,15,15,15,15,16,...,3.949385,3.949385,3.949385,SOURCE_1,2021-12-30,COUNTRY_141,0.114909,0.114909,0.114909,android

In [5]:
income_dataframe

,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
0,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...
1467827,0.000000,4.174198,0.037158,4.211356
1467828,4.705161,10.967580,0.091267,15.764008
1467829,0.000000,14.938221,0.000000,14.938221
1467830,0.000000,7.402224,0.177550,7.579774
1467831,0.000000,3.949385,0.114909,4.064295

In [6]:
categorical_dataframe=dataframe.filter(['platform','media_source','install_date', 'country_code'],axis=1)
dataframe.drop(columns=['platform','media_source','install_date', 'country_code'],axis=1,inplace=True)

In [7]:
categorical_dataframe

        platform media_source install_date country_code
0            ios    SOURCE_23   2021-12-03  COUNTRY_135
1        android     SOURCE_2   2021-12-03  COUNTRY_141
2        android    SOURCE_17   2021-12-03  COUNTRY_141
3            ios    SOURCE_23   2021-12-03  COUNTRY_141
4        android     SOURCE_1   2021-12-03  COUNTRY_203
...          ...          ...          ...          ...
1467827      ios    SOURCE_17   2021-12-30  COUNTRY_141
1467828      ios    SOURCE_23   2021-12-30  COUNTRY_141
1467829      ios    SOURCE_23   2021-12-30  COUNTRY_141
1467830      ios     SOURCE_4   2021-12-30  COUNTRY_141
1467831  android     SOURCE_1   2021-12-30  COUNTRY_141

[1466458 rows x 4 columns]

In [8]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(dataframe,income_dataframe['target_full_ltv_day30'], test_size=0.2)

In [9]:
model=linear_model.LinearRegression()

In [10]:
model.fit(X_train, y_train)

LinearRegression()

In [11]:
predictions=model.predict(X_test)

In [15]:
mean_absolute_error(y_test,predictions)

0.1300813372734741

In [13]:
sqrt(mean_squared_error(y_test,predictions))

(1.1822405351592886+0j)

In [14]:
mean_absolute_percentage_error(y_test,predictions)

90117339566738.5

In [51]:
dummies_date=pd.get_dummies(categorical_dataframe['install_date'])
dataframe=pd.concat([dataframe,dummies_date],axis='columns')

In [52]:
dummies_countries=pd.get_dummies(categorical_dataframe['country_code'])
dataframe=pd.concat([dataframe,dummies_countries],axis='columns')
dummies_media=pd.get_dummies(categorical_dataframe['media_source'])
dataframe=pd.concat([dataframe,dummies_media],axis='columns')
dummies_platform=pd.get_dummies(categorical_dataframe['platform'])
dataframe=pd.concat([dataframe,dummies_platform],axis='columns')

In [54]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(dataframe,income_dataframe['target_full_ltv_day30'], test_size=0.2)

In [56]:
model2=linear_model.LinearRegression()
model2.fit(X_train, y_train)
predictions2=model2.predict(X_test)

MemoryError: Unable to allocate 3.21 GiB for an array with shape (1173166, 367) and data type float64