In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, datasets, linear_model, model_selection
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error, mean_absolute_error
from cmath import sqrt

In [2]:
dataframe=pd.read_csv('../Dataset.csv')
dataframe

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_135,0.000000,0.000000,0.000000,ios,0.000000,0.000000,0.000000,0.000000
1,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android,0.000000,0.000000,0.000000,0.000000
2,1.0,2.0,2.0,2.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android,0.000000,0.000000,0.000000,0.000000
3,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,ios,0.000000,0.000000,0.000000,0.000000
4,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,2021-12-03,COUNTRY_203,0.000000,0.000000,0.000000,android,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467827,11.0,11.0,11.0,11.0,9,9,9,9,10,10,...,2021-12-30,COUNTRY_141,0.037158,0.037158,0.037158,ios,0.000000,4.174198,0.037158,4.211356
1467828,2.0,3.0,6.0,7.0,5,9,11,13,6,10,...,2021-12-30,COUNTRY_141,0.039256,0.039256,0.091267,ios,4.705161,10.967580,0.091267,15.764008
1467829,3.0,5.0,11.0,13.0,5,9,15,18,5,10,...,2021-12-30,COUNTRY_141,0.000000,0.000000,0.000000,ios,0.000000,14.938221,0.000000,14.938221
1467830,5.0,5.0,5.0,5.0,24,24,24,24,24,24,...,2021-12-30,COUNTRY_141,0.177550,0.177550,0.177550,ios,0.000000,7.402224,0.177550,7.579774
1467831,6.0,7.0,7.0,7.0,15,15,15,15,15,16,...,2021-12-30,COUNTRY_141,0.114909,0.114909,0.114909,android,0.000000,3.949385,0.114909,4.064295

Перевіримо чи є пропущені дані

In [3]:
dataframe.isna().any(axis=1).sum()

1374

Бачимо, що користувачів з пропущеними даними всього 1374. Це неймовірно мало порівняно з загальною кількістю користувачів 1467832. Тому ми викинемо ці рядки. Також викинемо останні чотири стовпчики з доходами з користувача і створимо з них ще один датафрейм.

In [4]:
dataframe.drop(dataframe.index[dataframe.isna().any(axis=1)].tolist(),axis=0,inplace=True)
income_dataframe=dataframe.filter(['target_sub_ltv_day30','target_iap_ltv_day30','target_ad_ltv_day30','target_full_ltv_day30'],axis=1)
dataframe.drop(columns=['target_sub_ltv_day30','target_iap_ltv_day30','target_ad_ltv_day30','target_full_ltv_day30'],axis=1,inplace=True)
dataframe

,total_sessions_day0,total_sessions_day1,total_sessions_day3,total_sessions_day7,chapters_finished_day0,chapters_finished_day1,chapters_finished_day3,chapters_finished_day7,chapters_opened_day0,chapters_opened_day1,...,app_iap_ltv_day0,app_iap_ltv_day1,app_iap_ltv_day3,media_source,install_date,country_code,ad_ltv_day0,ad_ltv_day1,ad_ltv_day3,platform
0,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_23,2021-12-03,COUNTRY_135,0.000000,0.000000,0.000000,ios
1,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_2,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android
2,1.0,2.0,2.0,2.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_17,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,android
3,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_23,2021-12-03,COUNTRY_141,0.000000,0.000000,0.000000,ios
4,1.0,1.0,1.0,1.0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,SOURCE_1,2021-12-03,COUNTRY_203,0.000000,0.000000,0.000000,android
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467827,11.0,11.0,11.0,11.0,9,9,9,9,10,10,...,4.174198,4.174198,4.174198,SOURCE_17,2021-12-30,COUNTRY_141,0.037158,0.037158,0.037158,ios
1467828,2.0,3.0,6.0,7.0,5,9,11,13,6,10,...,4.899572,7.841280,9.404430,SOURCE_23,2021-12-30,COUNTRY_141,0.039256,0.039256,0.091267,ios
1467829,3.0,5.0,11.0,13.0,5,9,15,18,5,10,...,4.036153,8.875894,13.928170,SOURCE_23,2021-12-30,COUNTRY_141,0.000000,0.000000,0.000000,ios
1467830,5.0,5.0,5.0,5.0,24,24,24,24,24,24,...,7.402224,7.402224,7.402224,SOURCE_4,2021-12-30,COUNTRY_141,0.177550,0.177550,0.177550,ios
1467831,6.0,7.0,7.0,7.0,15,15,15,15,15,16,...,3.949385,3.949385,3.949385,SOURCE_1,2021-12-30,COUNTRY_141,0.114909,0.114909,0.114909,android

In [5]:
income_dataframe

,target_sub_ltv_day30,target_iap_ltv_day30,target_ad_ltv_day30,target_full_ltv_day30
0,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...
1467827,0.000000,4.174198,0.037158,4.211356
1467828,4.705161,10.967580,0.091267,15.764008
1467829,0.000000,14.938221,0.000000,14.938221
1467830,0.000000,7.402224,0.177550,7.579774
1467831,0.000000,3.949385,0.114909,4.064295

In [6]:
categorical_dataframe=dataframe.filter(['platform','media_source','install_date', 'country_code'],axis=1)
dataframe.drop(columns=['platform','media_source','install_date', 'country_code'],axis=1,inplace=True)

In [7]:
categorical_dataframe

        platform media_source install_date country_code
0            ios    SOURCE_23   2021-12-03  COUNTRY_135
1        android     SOURCE_2   2021-12-03  COUNTRY_141
2        android    SOURCE_17   2021-12-03  COUNTRY_141
3            ios    SOURCE_23   2021-12-03  COUNTRY_141
4        android     SOURCE_1   2021-12-03  COUNTRY_203
...          ...          ...          ...          ...
1467827      ios    SOURCE_17   2021-12-30  COUNTRY_141
1467828      ios    SOURCE_23   2021-12-30  COUNTRY_141
1467829      ios    SOURCE_23   2021-12-30  COUNTRY_141
1467830      ios     SOURCE_4   2021-12-30  COUNTRY_141
1467831  android     SOURCE_1   2021-12-30  COUNTRY_141

[1466458 rows x 4 columns]

In [8]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(dataframe,income_dataframe['target_full_ltv_day30'], test_size=0.2)

In [9]:
model=linear_model.LinearRegression(fit_intercept=1)

In [10]:
model.fit(X_train, y_train)
print(model)

LinearRegression(fit_intercept=1)

In [11]:

predictions=model.predict(X_test)

In [12]:
mean_absolute_error(y_test,predictions)

0.1324541531378067

In [13]:
sqrt(mean_squared_error(y_test,predictions))

(1.0214374032012652+0j)

In [14]:
mean_absolute_percentage_error(y_test,predictions)

95140498164805.98

In [15]:
not_needed_features=['ad_ltv_day3', 'chapters_finished_day0', 'chapters_finished_day1', 'chapters_finished_day7', 'chapters_opened_day3', 'chapters_opened_session3', 'chapters_opened_session9',  'diamonds_received_day1', 'diamonds_received_day7', 'tickets_spent_day3']
len(not_needed_features)

10

In [16]:
col=list(dataframe.columns.values)
print(col)
col=['ad_ltv_day3','app_iap_ltv_day3']
#'app_sub_ltv_day0','chapters_closed_day7','chapters_finished_day3'
#col=['tickets_spent_day0','tickets_spent_session1','diamonds_spent_session1','retained_day1','total_sessions_day0']

test_dataframe=dataframe.filter(col,axis='columns')
""" dummies_platform=pd.get_dummies(categorical_dataframe['platform'],drop_first=True)
test_dataframe=pd.concat([test_dataframe,dummies_platform],axis='columns') """
X_train, X_test, y_train, y_test = model_selection.train_test_split(test_dataframe,income_dataframe['target_full_ltv_day30'], test_size=0.2)
model=linear_model.LinearRegression(fit_intercept=1)
model.fit(X_train, y_train)
print(model.coef_)
predictions=model.predict(X_test)
print(mean_absolute_error(y_test,predictions),sqrt(mean_squared_error(y_test,predictions)))

['total_sessions_day0', 'total_sessions_day1', 'total_sessions_day3', 'total_sessions_day7', 'chapters_finished_day0', 'chapters_finished_day1', 'chapters_finished_day3', 'chapters_finished_day7', 'chapters_opened_day0', 'chapters_opened_day1', 'chapters_opened_day3', 'chapters_opened_day7', 'chapters_closed_day0', 'chapters_closed_day1', 'chapters_closed_day3', 'chapters_closed_day7', 'diamonds_received_day0', 'diamonds_received_day1', 'diamonds_received_day3', 'diamonds_received_day7', 'diamonds_spent_day0', 'diamonds_spent_day1', 'diamonds_spent_day3', 'diamonds_spent_day7', 'tickets_spent_day0', 'tickets_spent_day1', 'tickets_spent_day3', 'tickets_spent_day7', 'retained_day1', 'retained_day3', 'retained_day7', 'chapters_finished_session1', 'chapters_finished_session3', 'chapters_finished_session9', 'chapters_opened_session1', 'chapters_opened_session3', 'chapters_opened_session9', 'chapters_closed_session1', 'chapters_closed_session3', 'chapters_closed_session9', 'diamonds_spent_session1', 'diamonds_spent_session3', 'diamonds_spent_session9', 'tickets_spent_session1', 'tickets_spent_session3', 'tickets_spent_session9', 'app_sub_ltv_day0', 'app_sub_ltv_day1', 'app_sub_ltv_day3', 'app_iap_ltv_day0', 'app_iap_ltv_day1', 'app_iap_ltv_day3', 'ad_ltv_day0', 'ad_ltv_day1', 'ad_ltv_day3']
[3.19855085 1.48710922]
0.14195741337883866 (1.2551580471353687+0j)

In [17]:
dummies_date=pd.get_dummies(categorical_dataframe['install_date'],drop_first=True)
dataframe=pd.concat([dataframe,dummies_date],axis='columns')

In [18]:
dummies_countries=pd.get_dummies(categorical_dataframe['country_code'],drop_first=True)
dataframe=pd.concat([dataframe,dummies_countries],axis='columns')
dummies_media=pd.get_dummies(categorical_dataframe['media_source'],drop_first=True)
dataframe=pd.concat([dataframe,dummies_media],axis='columns')
dummies_platform=pd.get_dummies(categorical_dataframe['platform'],drop_first=True)
dataframe=pd.concat([dataframe,dummies_platform],axis='columns')

In [ ]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(dataframe,income_dataframe['target_full_ltv_day30'], test_size=0.2)

In [ ]:
model2=linear_model.LinearRegression(fit_intercept=1)
model2.fit(X_train, y_train)
predictions2=model2.predict(X_test)

In [ ]:
mean_absolute_error(y_test,predictions)

0.5150409548871169

In [ ]:
sqrt(mean_squared_error(y_test,predictions))

(2.993490411204281+0j)

In [ ]:
for i in range(len(model2.coef_)):
    if abs(model2.coef_[i])<0.1: model2.coef_[i]=0
print(model2.coef_)

[ 0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.15681514 -0.16998328  0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.         -0.10298484 -0.22449847
 -0.35701292  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          1.44043495 -0.20379821
  1.29406347 -0.12771713 -0.44117752  1.67804624 -0.41186012 -2.92851333
  4.85012765  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.          0.
  0.          0.         -0.25058103  0.10152802  0.          0.13852544
  0.14209434  0.          0.12840024  0.1397709   0.          0.13005249
  0.11574017  0.13355574  0.29288488  0.12055485  0.10862928  0.15080878
  0.12000889  0.114381    0.12694376  0.16199018  0.26460833  0.24653398
  0.          0.          0.          0.          0.          0.11122147
  0.11315495  0.          0.14144643  0.12112328  0.16520099  0.13768274
  0.11607406  0.1141879   0.14309051  0.13260719  0.          0.10234196
  0.10595434  0.13480907  0.11772658  0.          0.          0.
  0.12538445  0.11638435  0.21864532  1.01817793  0.10052168  0.10231919
  0.          0.          0.10838491  0.14605329  0.13116635  0.1550833
  0.5689889   0.11370256  0.11716852  0.15962394  0.12428815  0.10758807
  0.10289353  0.12610415  0.10952692  0.10862624  0.41687395  0.11647532
  0.12677008  0.          0.10587233  0.10643689  0.10822899  0.10587823
  0.62688874  0.10483339  0.10952506  0.11971466  0.12662047  0.10060714
  0.11679006  0.21396746  0.10735911  0.1007489   0.19866477  0.12311809
  0.59036169  0.10443316  0.10845899  0.13523602  0.1924006   0.14267577
  0.13475344  0.          0.17505215  0.          0.16944399  0.11176521
  0.10403364  0.          0.1235414   0.          0.12284494  0.
  0.          0.          0.25459579  0.12064467  0.10318542  0.13283622
  0.109941    0.          0.          0.57062791  0.10597891  0.13271759
  0.          0.          0.          0.11862645  0.          0.11135583
  0.10768193  0.19558438  0.15890225  0.16238711  0.10005274  0.12353946
  0.11312797  0.          0.11367173  0.          0.          0.13175008
  0.10641746  0.15797317  0.16113913  0.1060999   0.11198041  0.1309622
  0.          0.12515088  0.13318604  0.          0.11337624  0.
  0.15594542  0.11503055  0.14283004  0.          0.11640316  0.15043138
  0.          0.10818765  0.          0.17392133  0.12706091  0.1042018
  0.12657414  0.12438548  0.          0.11358084  0.          0.10230295
  0.58707946  0.10044391  0.10157121  0.1184773   0.11714248  0.10854048
  0.13333753  0.31448484  0.85112807  0.          0.          0.
 -0.15309244  0.11065457  0.          0.13168448  0.14495119  0.11353596
  0.10005789  0.29576835  0.11658049  0.          0.10957767  0.
  0.11984181  0.          0.14129217  0.11125395  0.12828117  0.12315903
  0.          0.38561047  0.11131681  0.19769749  0.          0.10698958
  0.          0.10307963  0.10797842  0.          0.          0.13828774
  0.16765612  0.16220959  0.12046693  0.13573845  0.1176203   0.
  0.          0.15183057  0.1189634   0.          0.          0.92342502
  0.          0.12454639  0.1179381   0.          0.         -0.12327076
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          0.         -0.20216873  0.
  0.         -0.18852837  0.          0.          0.          0.
 -0.13800173  0.          0.        ]

In [ ]:
predictions2=model2.predict(X_test)
print(mean_absolute_error(y_test,predictions))
print(sqrt(mean_squared_error(y_test,predictions)))

0.5362737257560155
(2.993581283512038+0j)